// Define variables for your color scheme

// For example:
$red: #AB1919;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #8E8E8E;
$light-gray: #CFC9C6;
$dark-gray: #3D3D3D;
$light-pink: #F6EBE5;
$beige: #B79FA4;
