// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: 'Courier New', Courier, monospace;;
$headers-font: "LUNA", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "LUNA";
    src:font-url('LUNA.otf') format('truetype');
    src:font-url('LUNA-ExtraLight.otf') format('truetype');
    src:font-url('LUNA-Semibold.otf') format('truetype');
}
$my-font-headers: "LUNA";

@font-face {
  font-family: "Poison Hope";
    src:font-url('PoisonHope-Regular.ttf') format('truetype');
}
$my-font-title: "Poison Hope";

@font-face {
  font-family: "Courier New";
    src:font-url('CourierNew.ttf') format('truetype');
    src:font-url('CourierNew-Bold.ttf') format('truetype');
    src:font-url('CourierNew-BoldItalic.ttf') format('truetype');
    src:font-url('CourierNew-Italic.ttf') format('truetype');
}
$my-font: "Courier New";
