<div class="adv">
  <div class="row m-3">
    <div class="col m-3">
      <h5>Des produits naturels et écoresponsables</h5>
    </div>
    <div class="col m-3">
      <h5>made in france, made in provence, faits avec amour</h5>
    </div>
    <div class="col m-3">
      <h5>Des créations uniques, des envois soignés</h5>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    réalisé par glumy.tech
  </div>
</div>
