<div id="menu_collections_navbar">
<%= link_to collections_path do %>
  <h1>Collections</h1>
<% end %>
<ul class="nav justify-content-around">
  <% @collections.each do |collection| %>
    <li class="nav-item">
    <% active = "active" if request.path == collection_path(collection) %>
      <%= link_to "#{collection.name}", collection_path(collection), class: "nav-link #{active}" %>
    </li>
  <% end %>
</ul>


</div>

