<%= render 'shared/burger' %>
  <header class="showcase">
    <div class="showcase-inner navbar-lewagon">
    <div class="navbar-brand"> </div>
    <div class="logo_minimal">
    <%= link_to root_path do %>
      <% unless request.path == root_path %>
        <div class="logo-text">Dry & Myrtille</div>
        <p>Accessoires fleuris</p>
        <% end %>
    <% end %>
    </div>
    <%= link_to collections_path do %>
      <button class="btn btn-ghost">Contact</button>
    <% end %>
    </div>
  </header>
