
<div class="banner">
  <div class="banner_container">
    <%= link_to collections_path do %>
      <button class="btn btn-ghost">Découvrir</button>
    <% end %>
  </div>
</div>


<%= link_to 'produits', products_path %>
<%= link_to 'collections', collections_path %>
<%= link_to 'points', points_path %>
