
<div class="banner">
  <div class="banner_container">
    <p>Accessoires fleuris.</p>
    <a class="btn btn-flat" href="#">Découvrir</a>
  </div>
</div>


<%= link_to 'produits', products_path %>
<%= link_to 'collections', collections_path %>
<%= link_to 'points', points_path %>
