<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/marie-myrtille/image/upload/v1585565649/logo_tub1ua.png);">
  <div class="container">
    <h1><strong>Dry</strong>  & <strong>Myrtille </strong></h1>
    <p>Accessoires fleuris.</p>
    <a class="btn btn-flat" href="#">Découvrir</a>
  </div>
</div>


<%= link_to 'produits', products_path %>
<%= link_to 'collections', collections_path %>
<%= link_to 'points', points_path %>
